h1 {
  font-size: 1.5rem;
}

.row {
  height: 50;
}

.card {
  width: fit-content;
  height: inherit;
  margin-right: 1rem;
  margin-bottom: 1rem;
  display: inline-block;
}

.card img {
  max-width: 20rem;
}

.btn {
  margin-right: 1rem;
}

.body {
  margin: 1rem;
  
}

.form-control {
  max-width: 20rem;
}

.form-group {
  margin-bottom: 1rem;
}

.alert {
  margin-top: 1rem;
}

.nav-link {
  color: white;
}