{% extends "base.html" %}
{% block content %}

<script src="{{ url_for('static', filename='script.js') }}"></script>
<script src="{{ url_for('static', filename='jquery.tablesorter.min.js') }}"></script>

<meta name="csrf-token" content="{{ csrf_token() }}">

<section>
    {% if route == "home" %}
    <h1>Home</h1>
    {% else %}
    <h1>Liked movies</h1>
    {% endif %}
    <div class="table-responsive">
        <table class="table table-striped table-responsive tablesorter" id="movie_list">
            {% if route == "home" %}
            <caption>List of all movies</caption>
            {% else %}
            <caption>List of liked movies</caption>
            {% endif %}
            <thead>
                <tr>
                    <th scope="col">Movie</th>
                    <th scope="col">Release Year</th>
                    <th scope="col">Like Count</th>
                    <th scope="col">Details</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in movies %}
                <tr>
                    <td>{{ entry.title }}</td>
                    <td>{{ entry.year }}</td>
                    <td>
                        {% if current_user.has_liked_movie(entry) %}
                        <a class="like" data-action="remove" data-movie_id="{{entry.id}}">
                            <i class="fa-solid fa-heart" tabindex="0" aria-label="Remove from collection"
                                role="button"></i>
                            <p class="card-text">{{ entry.liked_users|length }}</p>
                        </a>
                        {% else %}
                        <a class="like" data-action="add" data-movie_id="{{entry.id}}">
                            <i class="fa-regular fa-heart" tabindex="0" aria-label="Add to collection"
                                role="button"></i>
                            <p class="card-text">{{ entry.liked_users|length }}</p>
                        </a>
                        {% endif %}
                    </td>
                    <td>
                        <a href="/movie/{{entry.id}}" class="btn btn-primary" role="button">See Reviews</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}