{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-md-5 col-12">
        <div class="position-sticky top-0">
        <div id="movie_details" class="content">
            <h1>{{ movie.title }}</h1>
            <h2>Release Year: {{ movie.year }}</h2>
        </div>

        <div id="write_review" class="content">
            <h1>Write A Review!</h1>
            <form action="" method="post" name="review_form">
                {{ form.csrf_token }}
                {{ form.hidden_tag() }}

                <div class="form-group">
                    <label for="content">What did you think of this movie?</label>
                    {{ form.content(class="form-control", rows="5") }}
                    <small class="form-text">Reviews are limited to 500 characters</small>
                </div>

                <input type="submit" class="btn btn-primary" value="Submit">
            </form>

            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}" role="alert">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
        </div>
    </div>

    <div class="col-md-7 col-12">
        <div id="user_reviews" class="content">
            <h1>User Reviews</h1>

            <!-- display current user's reviews first -->
            {% for entry in reviews %}
            {% if current_user.id == entry.user.id %}
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">{{ entry.user.name }}</h2>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ entry.content }}</p>
                    <a href="/delete_review/{{entry.id}}" class="btn btn-primary" type="button">
                        Delete Review
                    </a>
                </div>
            </div>
            {% endif %}
            {% endfor %}

            <!-- display other user's reviews -->
            {% for entry in reviews %}
            {% if current_user.id != entry.user.id %}
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">{{ entry.user.name }}</h2>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ entry.content }}</p>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}